body {
    background-color: #44658c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
}

.game-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px; /* Increase padding */
    text-align: center;
    width: 800px; /* Increased width */
    height: 500px; /* Increased height */
    position: relative;
    z-index: 2; /* Make sure it's above the snowflakes */
}

h1 {
    font-size: 32px; /* Increase font size */
    color: #344d6b;
}

.scramble-box {
    background-color: #d6e9ff;
    border-radius: 5px;
    margin: 30px 0; /* Increase margin */
    padding: 20px; /* Increase padding */
    position: relative;
}

#scrambled-word {
    font-size: 35px; /* Increase font size */
    letter-spacing: 3px; /* Increase letter spacing */
    color: #44658c;
}

#guess-input {
    width: calc(100% - 40px); /* Adjust width */
    padding: 15px; /* Increase padding */
    margin: 15px 0;
    border: 1px solid #d6e9ff;
    border-radius: 5px;
}

#submit-btn{
    margin-top: 30px;
    background-color: #7cb7ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px; /* Increase padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px; /* Increase font size */
}

#next-btn {
    margin-top: 10px;
    background-color: #7cb7ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px; /* Increase padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px; /* Increase font size */
}

#return-main{
    margin-top: 10px;
    background-color: #7cb7ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px; /* Increase padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px; /* Increase font size */
}


button:hover {
    background-color: #344d6b;
}

#feedback {
    margin: 15px 0;
    font-size: 18px; /* Increase font size */
    color: #333333;
}

#score {
    position: absolute;
    top: 20px;
    right: 70px;
    font-size: 22px; /* Increase font size */
    background-color: #ffffff;
    padding: 10px 20px; /* Increase padding */
    border-radius: 5px;
    color: #344d6b;
    transform: translate(50%, -50%);
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 3; /* Make sure it's above everything */
}

.popup-content {
    background-color: #ffffff;
    padding: 30px; /* Increase padding */
    border-radius: 5px;
    text-align: center;
}

#popup-text {
    margin-bottom: 20px;
    font-size: 22px; /* Increase font size */
}

#close-popup {
    background-color: #7cb7ff;
    color: #ffffff;
    border: none;
    padding: 15px 30px; /* Increase padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Increase font size */
}

/* Snowflake animation */
.snowflake {
    position: fixed;
    top: -10px;
    color: #fff;
    font-size: 1em;
    z-index: 1;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}
